@model TuLote.Entidades.Lote

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Eliminar</h1>

<h4 class="text-danger text-bolder">¿Estás seguro de eliminarlo?</h4>
<hr />
<div class=col-md-3>
    <dl class="col-12 text-warning fw-bold">
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-12 ">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Metros)
        </dt>
        <dd class="col-12 ">
            @Html.DisplayFor(model => model.Metros)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-12 ">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Orientacion)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Orientacion)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-12 text-secondary">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class="col-12 ">
            @Html.DisplayFor(model => model.Barrio.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="col-12 btn-group mb-3">
            <button type="submit" value="Eliminar" class="btn btn-danger fw-bolder col-6 rounded-1"><i class="fa-solid fa-trash-can"></i>&nbsp&nbspEliminar</button>
            <a class="btn btn-success text-white fw-bold col-6 rounded-1 ms-1" asp-action="Index"><i class="fa-solid fa-hand-point-left"></i>&nbsp&nbspRegresar</a>
            <input type="hidden" asp-for="Id" />
        </div>
    </form>

</div>


