@model TuLote.Entidades.Lote

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Detalle</h1>

<div class="col-md-4">
    <h4 class="text-white">Lote</h4>
    <hr />
    <dl class="row row  col-12 text-white fw-bold">
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Metros)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Metros)
        </dd>
        @* <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Etapas)
            </dt>
            <dd class="col-12">
            @Html.DisplayFor(model => model.Etapas)
            </dd>*@
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Orientacion)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Orientacion)
        </dd>
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-12 text-warning">
            @Html.DisplayNameFor(model => model.Barrio.Nombre)
        </dt>
        <dd class="col-12">
            @Html.DisplayFor(model => model.Barrio.Nombre)
        </dd>
    </dl>
    <div class="btn-group col-6 mb-3">
        @* <a class="text-white fs-6 fw-bolder ms-0 btn btn-secondary col-6" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>*@
        <a class="text-white fs-6 fw-bolder btn btn-warning col-6" asp-action="Index">Regresar</a>
    </div>
</div>



