@model TuLote.Entidades.Barrio


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Detalle</h1>

<div>
    <hr />
    <dl class="col-4 text-white fw-bold">
        <dt class="col-sm-2 text-warning">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 text-warning">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
    </dl>
    @if (@User.IsInRole("Administrador"))
    {
        <div class="btn-group col-4">
            <a class="text-white fw-bolder btn btn-success col-12 fs-6 fw-bold" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
            <a class="text-white fw-bolder btn btn-warning col-12 fs-6 fw-bold" asp-action="Index">Regresar</a>
        </div>
    }
    else
    {
        <div class="btn-group col-4">
            <a class="text-white fw-bolder btn btn-warning col-6 " asp-action="Index">Regresar</a>
        </div>
    }

</div>


